.whatsapp {
  position: fixed;
  bottom: 100px;
  right: 5px;
  z-index: 9999;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects, #about, #contact {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}